#spring:
#  datasource:
#    url: jdbc:h2:mem:ussd_banking
#    driver-class-name: org.h2.Driver
#    username: sa
#    password:
#
#  h2:
#    console:
#      enabled: true
#      path: /h2-console
#
#  jpa:
#    hibernate:
#      ddl-auto: create-drop
#    show-sql: true
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.H2Dialect
#        format_sql: true
#
#logging:
#  level:
#    com.skaet.ussdapp: DEBUG
#    org.springframework.web: DEBUG
