spring:
  application:
    name: ussdapp

  datasource:
    url: jdbc:mysql://localhost:3306/ussd_banking?createDatabaseIfNotExist=true
    username: root
    password: 122024Clux!
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

server:
  port: 8030

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.skaet.ussdapp: INFO
    org.springframework.web: INFO
  file:
    name: logs/application.log
